* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* line-height: 1.5em; */
}

body {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

div.main_panel {
    width: 40em;
    height: 100vh;
    /* border: 2px solid red; */

    display: flex;
    flex-flow: column nowrap;
}

div#preview {
    /* position: absolute; */
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    line-height: 1.75em;
    
    color: #777;
    border: 1px solid gray;
}

div#preview.copied {
    animation-name: copied;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes copied {
    from {
        color: #58f;
    }
    to {
        color: #777;
    }
}

button {
    position: relative;
    top: 0;
    left: 0;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    border: 0;
    box-shadow: 1px 1px 2px grey;
    text-transform: capitalize;
    transition: box-shadow 100ms, top 100ms, left 100ms;
}

button:hover {
    top: -1px;
    left: -1px;
    box-shadow: 2px 2px 4px grey;
}

button:active {
    top: 1px;
    left: 1px;
    box-shadow: 0px 0px 1px grey;
}

.button_panel {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 1em;
    padding: 1em 0 1em 0;
    border: 1px solid gray;
}

.title {
    position: absolute;
    top: -1em;
    left: -1em;
    border: 1px solid gray;
    background-color: white;
    color: gray;
    padding: 0.25em;
    text-transform: uppercase;
}

.modal {
    /* border: 2px solid red; */
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

input {
    border-radius: 0.5em;
    padding: 0.5em;
    border-width: 0;
}